package view

import (
	"osbourne.local/frontend/internal/domain"
)

type ProfilePageData struct {
	PageData
	Profile domain.Profile
}

templ ProfilePage(data ProfilePageData) {
	@Base(data.User) {
		<section>
			<h1>Your Profile</h1>
			<p>Name: { data.Profile.Name }</p>
			<p>Email: { data.User.Email }</p>
			<p>Role: { data.User.Role }</p>
			if data.Profile.Birthday != nil {
				<p>Birthday: { data.Profile.Birthday.Format("2006-01-02") }</p>
			}
			<p>Phone: { data.Profile.Phone }</p>
			<p>Study program: { data.Profile.StudyProgram }</p>
			<p>Bio: { data.Profile.Bio }</p>
		</section>
	}
}